<!DOCTYPE html>
<html>
  <head>
    <title><%= skillName %></title>
  </head>
  <body>
    <h1><%= skillName %></h1>
    <p>Skill ID: <%= skillId %></p>
    <p id="skill-status">Skill Uploading...</p>
    <a href="/skills" id="interaction-model" type="hidden">Build Interaction Model</a>
    <br/>
    <a href="/skills">Back to Main Menu</a>
  <script type="text/javascript">
    let status = <%-JSON.stringify(status)%>;
    if (status === 'SUCCEEDED') {
      document.getElementById('skill-status').innerHTML = 'Skill Upload Successful!';
      document.getElementById('interaction-model').style.visibility = 'visible';
    }
  </script>
  </body>
  <footer>
    <% include ../../partials/footer %>
  </footer>
</html>
