<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <form action="/skills/new" method="post">
    <div>
      <label for="skill_name">Enter name: </label>
      <input id="skill_name" type="text" name="skill_name" value="Enter name for skill.">
    </div>
    <div>
      <label for="platform_name">Enter platform: </label>
      <input id="platform_name" type="text" name="platform" value="Enter platform for skill.">
    </div>
    <div>
      <input type="submit" value="OK">
    </div>
  </form>
  <footer>
    <% include ../partials/footer %>
  </footer>
  <script>
    let tmp = '<%= msg %>';
    if (tmp) {
      alert(tmp);
    }
  </script>
    <!-- Scripts -->
      <script src="jquery.min.js"></script>
      <script src="jquery.scrolly.min.js"></script>
      <script src="jquery.scrollex.min.js"></script>
      <script src="skel.min.js"></script>
      <script src="util.js"></script>
      <script src="main.js"></script>
</body>
</html>
