<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form action="/skills/new" method="post">
	  <label for="skill_name">Enter name: </label>
	  <input id="skill_name" type="text" name="name" value="Default name for skill.">
	  <input type="submit" value="OK">
	</form>
	<footer>
	  <% include ../partials/footer %>
	</footer>
</body>
</html>